@tailwind base; 
@tailwind components; 
@tailwind utilities;

:root {
  max-width: 390px;
  max-height: 844px;
  margin: 0;
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  overflow-y: scroll;
  background-color: #000;
}